/*! REGOLE GENERICHE */
a {
    text-decoration: none;
    color: #01b2e3;
}

#contenitore-main {
    max-width: 1200px;
}
/*! HEADER */

/* Header pagina */
body > header {                                          /* Seleziona Header figlio diretto di body  */
    height: 100px;
    width: auto;
    background-color: #06ade0;
    background-image: url(../img/pattern.png);
    background-size: 28%;
}

#logo {
    width: 185px;
}

/* Header articolo */
h1 {
    font-size: 2.8rem;
}


/*! CARATTERISTICHE TESTO */

/* Colori */
.text-color-grey {
    color: rgb(147, 147, 147);
} 

.text-color-white {
    color: rgb(255, 255, 255);
}

.bg-color-yellow {
    background-color: yellow;
}

/* Peso */
.font-weight-bold {
    font-weight: bold;
}

/* Stile */
.font-style-normal {
    font-style: normal;
}

/* Dimensione */
.font-size-12px {
    font-size: 12px;
}

/* Allineamento */
.text-align-left {
    text-align: left;
}

/*! TABELLA */

/* Layout tabella */
table {
    table-layout: fixed;                                    /* Imposta layout fisso */
    width: 1200px; */
}

/* Colori background */
#bg-color-blue {
    background-color: rgb(73, 170, 227);
}

.bg-color-lightblue {
    background-color: rgb(162, 213, 243);
}

