/* REGOLE GENERICHE */

/* HEADER */
body > header {                                          /* Seleziona Header figlio diretto di body  */
    height: 100px;
    width: auto;
    background-color: #059bff;
    background-image: url(../img/pattern.png);
    background-size: 28%;
}

#logo {
    width: 185px;
}